.U-unit, .U-container {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  box-sizing: border-box;
  font-size: 0.4 * 100px;
  border: 0px solid #000;
  color: #000;
  pointer-events: auto;
  overflow: hidden;
  // clip-path: inset(0px);
  z-index: 1;
  flex-shrink: 0;
  animation-fill-mode: both; //针对小程序hack
}

.U-text, .U-link, .U-html, .U-input, .U-textarea {
  white-space: pre-wrap;
}

a {
  color: #1E88E5;
  text-decoration: none;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  pointer-events: auto;
  box-sizing: border-box;
}

.U-container{
  width: 600px;
  height: 300px;
  font-size: 40px;
  line-height: 44px;
  align-content: flex-start;
}

.U-photo {
  width: 300px;
  height: 240px;
  display: block;
  object-fit: contain;
}

.U-iframe {
  width: 500px;
  height: 300px;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.U-html {
  width: 500px;
  height: 300px;
  font-size: 40px;
  line-height: 44px;
  color: #000;
  img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
  }
}

.U-mirror {
  width: 400px;
  height: 400px;
}

.U-text {
  width: 160px;
  height: 44px;
  font-size: 40px;
  line-height: 44px;
}

.U-link {
  width: 160px;
  height: 44px;
  font-size: 40px;
  line-height: 44px;
  color: #1E88E5;
  display: block;
}

.U-icon {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000;
  svg {
    width: 100%;
    height: 100%;
    fill: inherit;
  }
  path {
    fill: inherit;
  }
}

.U-icon-view {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.U-video {
  width: 600px;
  height: 300px;
  display: block;
  background-color: #000;
}

.U-input {
  border: 0 solid #000;
  outline: 0;
  background-color: transparent;
  height: 60px;
  line-height: 60px;
  width: 280px;
  font-size: 32px;
}

.U-textarea {
  border: 0 solid #000;
  outline: 0;
  background-color: transparent;
  height: 120px;
  line-height: 60px;
  width: 280px;
  font-size: 32px;
}

